<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadStudents</servlet-name>
  	<display-name>ReadStudents</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadSubjects</servlet-name>
  	<display-name>ReadSubjects</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadSubjects</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadTeachers</servlet-name>
  	<display-name>ReadTeachers</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadTeachers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadClasses</servlet-name>
  	<display-name>ReadClasses</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadClasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubject</servlet-name>
  	<display-name>AddSubject</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSubject</servlet-name>
  	<display-name>UpdateSubject</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.UpdateSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubjectForUpdate</servlet-name>
  	<display-name>AddSubjectForUpdate</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddSubjectForUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacher</servlet-name>
  	<display-name>AddTeacher</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacherForUpdate</servlet-name>
  	<display-name>AddTeacherForUpdate</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddTeacherForUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTeacher</servlet-name>
  	<display-name>UpdateTeacher</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.UpdateTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadClassSubjectView</servlet-name>
  	<display-name>ReadClassSubjectView</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadClassSubjectView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClass</servlet-name>
  	<display-name>AddClass</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateClass</servlet-name>
  	<display-name>UpdateClass</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.UpdateClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudent</servlet-name>
  	<display-name>AddStudent</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudent</servlet-name>
  	<display-name>UpdateStudent</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.UpdateStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignTeacher</servlet-name>
  	<display-name>AssignTeacher</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AssignTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadStudentMasterList</servlet-name>
  	<display-name>ReadStudentMasterList</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadStudentMasterList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadStudentvs</servlet-name>
  	<display-name>ReadStudentvs</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadStudentvs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadClassTeacherView</servlet-name>
  	<display-name>ReadClassTeacherView</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadClassTeacherView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignTeacherToClass</servlet-name>
  	<display-name>AssignTeacherToClass</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AssignTeacherToClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignClass</servlet-name>
  	<display-name>AssignClass</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AssignClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadStudentClassView</servlet-name>
  	<display-name>ReadStudentClassView</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ReadStudentClassView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignClassToStudent</servlet-name>
  	<display-name>AssignClassToStudent</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AssignClassToStudent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadStudents</servlet-name>
  	<url-pattern>/ReadStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadSubjects</servlet-name>
  	<url-pattern>/ReadSubjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadTeachers</servlet-name>
  	<url-pattern>/ReadTeachers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadClasses</servlet-name>
  	<url-pattern>/ReadClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubject</servlet-name>
  	<url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSubject</servlet-name>
  	<url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubjectForUpdate</servlet-name>
  	<url-pattern>/AddSubjectForUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacher</servlet-name>
  	<url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacherForUpdate</servlet-name>
  	<url-pattern>/AddTeacherForUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTeacher</servlet-name>
  	<url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadClassSubjectView</servlet-name>
  	<url-pattern>/ReadClassSubjectView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClass</servlet-name>
  	<url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateClass</servlet-name>
  	<url-pattern>/UpdateClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudent</servlet-name>
  	<url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudent</servlet-name>
  	<url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTeacher</servlet-name>
  	<url-pattern>/AssignTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadStudentMasterList</servlet-name>
  	<url-pattern>/ReadStudentMasterList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadStudentvs</servlet-name>
  	<url-pattern>/ReadStudentvs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadClassTeacherView</servlet-name>
  	<url-pattern>/ReadClassTeacherView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTeacherToClass</servlet-name>
  	<url-pattern>/AssignTeacherToClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignClass</servlet-name>
  	<url-pattern>/AssignClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadStudentClassView</servlet-name>
  	<url-pattern>/ReadStudentClassView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignClassToStudent</servlet-name>
  	<url-pattern>/AssignClassToStudent</url-pattern>
  </servlet-mapping>
</web-app>
